<% backlinked_pages = RedmineWikiReferences::BacklinkFinder.referencing_pages(issue, User.current) %>

<% if backlinked_pages.any? %>
  <hr>
  <div id="wiki-references">
    <p><strong><%= l(:label_wiki_references) %></strong></p>
    <table class="list issues odd-even">
      <% backlinked_pages.group_by(&:project).each do |project, pages| %>
        <thead>
          <tr class="group open">
            <th>
              <%= l(:label_wiki_reference_table_project_description) %> <%= link_to project.name, project_path(project) %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% pages.each do |page| %>
            <tr>
              <td class="subject">
                <%= l(:label_wiki_reference_table_wiki_description) %> <%= link_to page.pretty_title, project_wiki_page_path(page.project, page.title) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
<% end %>
